@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

/* Reset default margin and padding */
/* body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
} */

/* Set base font and colors */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #72ffda;
}

/* Header styling */
header {
    background-color: rgba(73, 219, 188, 0.8); /* Semi-transparent white background */
    padding: 2% 4%; /* Use percentages for padding */
    box-shadow: 0 0.1em 0.2em rgba(73, 219, 187, 0.5); /* Use ems for box shadow */
    color: #fff;
}

/* Navigation styling */
nav {
    text-align: center; /* Center align the navigation */
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* Text color */
    padding: 8px 16px; /* Padding for the navigation links */
    background-color: #333; /* Background color */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

nav ul li a:hover {
    background-color: #555; /* Hover background color */
}

/* Main styles */
main {
    padding: 2%;
}

.hero {
    background-image: url('../static/images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 10% 0;
    text-align: center;
}

.hero h2 {
    font-size: 3em;
    margin-bottom: 2%;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 3%;
}

/* .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
} */

.features {
    display: flex;
    justify-content: space-around; /* Adjust alignment as needed */
    align-items: stretch; /* Vertically center items */
    margin-top: 50px;
}

.feature {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.feature h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}


.table {
    background-color: white;
    border-color: white;
    color: black;
    width: 100%; /* Make table fill the width of its container */
    border-collapse: collapse; /* Collapse table borders */
}
.table th, td {
    background-color: white;
    color: black;
}


/* Footer styling */
footer {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
/* Ensure uniform height for images */
.service img {
    height: 400px; /* Adjust the height as needed */
    width: 300px;
    display: block; /* Ensure images are displayed as block elements */
    margin: 0 auto; /* Center images horizontally */
}

/* Ensure uniform dimensions for images */
.services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust column width as needed */
    gap: 20px; /* Adjust the gap between items */
    justify-content: center;
}

.services img {
    width: 100%; /* Ensure images fill the grid cells */
    /* height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover container while maintaining aspect ratio */
}

/* Initially hide the service text */
.service p {
    display: none;
}

/* Show the service text when hovering over the service */
.service:hover p {
    display: block;
}

/* Service listing hover effect */
.service:hover {
    transform: scale(1.05); /* Scale up the service listing */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    background-color: #d5ec8b; /* Change background color on hover */
}

.gallerygrid {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 20px;
}

.gallerygrid img {
    width: 100%; /* Ensure images fill the grid cells */
    /* height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover container while maintaining aspect ratio */
}
.galleryimg img {
    width: 350px;
    height: 400px;
    margin: 10px;
    border: 10px solid #fefae0;
    /* -webkit-filter: sepia(100%);
    filter: sepia(100%); */
    transition-duration: 1s;
}

.galleryimg img:hover {
    border: 5px solid #fff;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: none;
    filter: none;
}

/* Center the grid */
.slides {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for each slide */
.slide {
    display: none; /* Hide slides by default */
}

/* Style for active slide */
.slide.active {
    display: block; /* Show active slide */
}

#prevBtn,
#nextBtn {
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    align-self: center;
}

/* Previous and Next button hover effect */
#prevBtn:hover,
#nextBtn:hover {
    background-color: #0056b3; /* Darker blue background on hover */
}

/* 

h1, h2, h3 {
    color: #333; 
} */
h1 {
    max-inline-size: 100% !important; /*Overriding the settings in normalize.min.css to widen the h1 header.*/
}
.pageheader {
    text-align: center !important; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}

p {
    color: #666; /* Lighter text color */
}

/* Adjust header styles for smaller screens */
@media only screen and (max-width: 600px) {
    header {
        padding: 2%; /* Reduce padding for smaller screens */
        box-shadow: 0 0.1em 0.2em rgba(73, 219, 187, 0.5); /* Adjust box shadow */
    }
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .hero {
        padding: 20% 0; /* Adjust padding for smaller screens */
    }

    .hero h2 {
        font-size: 2em; /* Decrease font size for smaller screens */
    }

    .hero p {
        font-size: 1em; /* Decrease font size for smaller screens */
    }
}

/* Medium screens (tablets) */
@media only screen and (min-width: 601px) and (max-width: 992px) {
    header {
        padding: 2%; /* Reduce padding for smaller screens */
        box-shadow: 0 0.1em 0.2em rgba(73, 219, 187, 0.5); /* Adjust box shadow */
    }
    .hero {
        padding: 15% 0; /* Adjust padding for medium screens */
    }

    .hero h2 {
        font-size: 2.5em; /* Decrease font size for medium screens */
    }

    .hero p {
        font-size: 1.1em; /* Decrease font size for medium screens */
    }
}

/* Large screens (desktops) */
@media only screen and (min-width: 993px) {
    /* Adjust styles for large screens */
}