<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1 class="pageheader">About Us</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/listings">Services</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/appointments">Book Appointment</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="about">
            <h2>Welcome to A&D coiffure du monde!</h2>
        
            <h2>About Us</h2>
            <p>We are licensed stylist based in Gaithersburg MD. 
            We are spécialize in all hair texture and our mission 
            is growing healthy hair and make sure you are confortable 
            when You're in our space while making your  Dreams hair. 
            Whether You're looking for fresh new cut, hair extension 
            color, braids... we have you covere. Don't wait come and 
            have a relaxing time and be more beautiful after enjoyind
            our service.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 A&D Coiffure. All rights reserved.</p>
    </footer>
</body>
</html>
