<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Appointment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1 class="pageheader">Book Appointment</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/listings">Services</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/appointments">Book Appointment</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Placeholder for Setmore widget -->
        <div id="setmore_widget" class="bookingwidget">
            <script id="setmore_script" type="text/javascript" src="https://storage.googleapis.com/fullintegration-live/webComponentAppListing/Container/setmoreIframeLive.js"></script>
            <a style="float:none; " id="Setmore_button_iframe"  href="https://booking.setmore.com/scheduleappointment/968e2fe6-005f-4b50-97a3-773e22e4e9e9">
                <img border="none" src="https://assets.setmore.com/setmore/images/2.0/Settings/book-now-black.svg" alt="Book an appointment with Aimee using Setmore"/>
            </a>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Your Hair Salon. All rights reserved.</p>
    </footer>
</body>
</html>





