<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aimee's Hair Braiding Services | Services</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body class="is-preload">

        <div id="wrapper">
            <div id="main">
                <div class="inner">
                    <!-- Header containing salon name and socials -->
                    <header id="header">
                        <a href="/" class="logo"><strong>A&D</strong> Coiffure du Monde</a>
                        <ul class="icons">

                            <li><a href="https://www.facebook.com/profile.php?id=61559927362692" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                            <li><a href="" class="icon brands fa-whatsapp"><span class="label">whatsapp</span></a></li>
                            <li><a href="https://www.instagram.com/touchedbyaimee?igsh=MWZmNDN6cHE1cWp4bg==" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                        </ul>
                    </header>

                    <section>
                        <header class="major">
                            <h2>Services</h2>
                        </header>
                        <header class="major">
                            <p>Braids</p>
                        </header>

                        <div class="posts">
                                   
                            <article>
                                <a  class="image"><img src="static/images/knotlessbraids.jpg" alt="" /></a>
                                <h3>Knotless Braids</h3>
                                <p>Price: $250 / Duration: 300 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a  class="image"><img src="static/images/knotlessfrench.jpg" alt="" /></a>
                                <h3>Knotless French Braids</h3>
                                <p>Price: $250 / Duration: 300 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/largeboxbraid.jpg" alt="" /></a>
                                <h3>Large Box Braids</h3>
                                <p>Price: $180 / Duration: 200 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a  class="image"><img src="static/images/layercornows.jpg" alt="" /></a>
                                <h3>Layer Cornrows</h3>
                                <p>Price: $220 / Duration: 240 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/mohawkbraidandsew.jpg" alt="" /></a>
                                <h3>Mohawk Braid and Sew</h3>
                                <p>Price: $180 / Duration: 45-60 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/singlefauxlocs.jpg" alt="" /></a>
                                <h3>Single Crochet Faux Locs</h3>
                                <p>Price: $180 / Duration: 200 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a  class="image"><img src="static/images/twohands.jpg" alt="" /></a>
                                <h3>Two Strand Twist</h3>
                                <p>Price: $180 / Duration: 200 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a href="#" class="image"><img src="static/images/FeedingCornrows.jpg" alt="" /></a>
                                <h3>eeding Cornrows</h3>
                                <p>Price: $180 / Duration: 200 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/BobBoxBraid.jpg" alt="" /></a>
                                <h3>Bob Box Braid</h3>
                                <p>Price: $180 / Duration: 200 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a  class="image"><img src="static/images/naturalcornows.jpg" alt="" /></a>
                                <h3>Natural cornrows</h3>
                                <p>Price: $60 / Duration: 60 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a  class="image"><img src="static/images/kidbraids.jpg" alt="" /></a>
                                <h3>Kid's Braid</h3>
                                <p>Price: $100 / Duration: 120 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/menbraids.jpg" alt="" /></a>
                                <h3>Men's Braids</h3>
                                <p>Price: $80 / Duration: 60 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/kinkytwist.jpg" alt="" /></a>
                                <h3>Kinky twist</h3>
                                <p>Price: $200 / Duration: 240 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/crochetbraidhair.jpg" alt="" /></a>
                                <h3>Crochet Braid hair</h3>
                                <p>Price: $120 / Duration: 150 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/singleplat.jpg" alt="" /></a>
                                <h3>Single plats</h3>
                                <p>Price: $80 / Duration: 120 minutes</p>
                                <p></p>
                            </article>

                            <article>
                                <a class="image"><img src="static/images/stichbraids.jpg" alt="" /></a>
                                <h3>Slitch braids</h3>
                                <p>Price: $120 / Duration: 150 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/Flatstwistlarge.jpg" alt="" /></a>
                                <h3>Flats twist large</h3>
                                <p>Price: $70 / Duration: 100 minutes</p>
                                <p></p>
                            </article>

                            <article>
                                <a class="image"><img src="static/images/Cornrowsforwigs.jpg" alt="" /></a>
                                <h3>Cornrows for wigs</h3>
                                <p>Price: $50 / Duration: 100 minutes</p>
                                <p></p>
                            </article>
                
                        </div>
                    </section>
                </div>
            </div>

            <div id="sidebar">
                <div class="inner">
    
                        <nav id="menu">
                            <header class="major">
                                <h2>Menu</h2>
                            </header>
                            <ul>
                                <li ><a href="/" >Home</a></li>
                                <li><a href="/appointments">Book Appoinement</a></li>
                                <li>
                                    <span class="opener">Services</span>
                                    <ul>
                                        <li><a href="/braidsgallery">Braids</a></li>
                                        <li><a href="/treatmentgallery">Chemical and Natural Service</a></li>
                                        <li><a href="/extensionsgallery">Extensions</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Promotions or Offers</a></li>
                                <li><a href="/contactus">Contact Us:</a></li>
                                <li class="uid"><a href="/about">About Us</a></li>
                                
                            </ul>
                        </nav>
                </div>
            </div>

        </div>
        
        <footer id="footer" class="footer">
            <section >
                <header class="major majorr">
                    <h2>Contact Us</h2>
                </header>
                <ul class="contact">
                    <li class="icon solid fa-envelope"><a href="mailto:braidedbyaimee@gmail.com">braidedbyaimee@gmail.com</a></li>
                    <li class="icon solid fa-phone"><a href="">+1 (240) 421-6230</a></li>
                    <li class="icon brands fa-facebook-f"><a href="https://www.facebook.com/profile.php?id=61559927362692">A&D Coiffure du monde</a></li>
                    <li class="icon brands fa-whatsapp"><a href="https://wa.me/(+1)2404216230">+1 (240) 421-6230</a></li>
                    <li class="icon brands fa-instagram"><a href="https://www.instagram.com/touchedbyaimee?igsh=MWZmNDN6cHE1cWp4bg==">touched by aimee</a></li>
                    <li class="icon solid fa-home">572 N Frederick Ave, Suite 106 Gaithersburg MD20877 Maryland, USA</li>
                </ul>
            </section>
            <p>© 2024 A&D Coiffure. All rights reserved.</p>
        </footer>


        <script src="/static/js/main.js"></script>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/browser.min.js"></script>
        <script src="/static/js/breakpoints.min.js"></script>
        <script src="/static/js/util.js"></script>
        <script src="static/js/main.js"></script>

        <script src="../static/js/script.js"></script>
    </body>
</html>
