<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aimee's Hair Braiding Services | Services</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1 class="pageheader">Gallery</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/listings">Services</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/appointments">About Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="slides">

            <div class="slide">
                <div class="gallerygrid">
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (1).jpg" alt="">
                    </div>
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (2).jpg" alt="">
                    </div>
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (3).jpg" alt="">
                    </div>
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (4).jpg" alt="">
                    </div>
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (5).jpg" alt="">
                    </div>
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (6).jpg" alt="">
                    </div>
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (7).jpg" alt="">
                    </div>
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (8).jpg" alt="">
                    </div>
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (9).jpg" alt="">
                    </div>
                <!-- end of gallerygrid -->
                </div>
                <!-- end of slide 1 -->
            </div>
                
            <div class="slide">
                <div class="gallerygrid">
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (10).jpg" alt="">
                    </div>
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (11).jpg" alt="">
                    </div>
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (12).jpg" alt="">
                    </div>
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (13).jpg" alt="">
                    </div>
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (14).jpg" alt="">
                    </div>
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (15).jpg" alt="">
                    </div>
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (16).jpg" alt="">
                    </div>
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (17).jpg" alt="">
                    </div>
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (18).jpg" alt="">
                    </div>
                <!-- end of gallerygrid -->
                </div>
                <!-- end of slide 2 -->
            </div>

            <div class="slide">
                <div class="gallerygrid">
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (19).jpg" alt="">
                    </div>
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (20).jpg" alt="">
                    </div>
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (21).jpg" alt="">
                    </div>
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (22).jpg" alt="">
                    </div>
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (23).jpg" alt="">
                    </div>
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (24).jpg" alt="">
                    </div>
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (25).jpg" alt="">
                    </div>
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (26).jpg" alt="">
                    </div>
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (27).jpg" alt="">
                    </div>
                <!-- end of gallerygrid -->
                </div>
            <!-- end of slide 3 -->
            </div>

            <div class="slide">
                <div class="gallerygrid">
                    <div class="galleryimg">
                        <img src="/static/images/hairstyle (28).jpg" alt="">
                    </div>
                <!-- end of gallerygrid -->
                </div>
            <!-- end of slide 4 -->
            </div>

        <!-- end of slides -->
        </div>

        <!-- Next and previous buttons -->
        <center>
            <button id="prevBtn">Previous</button>
            <button id="nextBtn">Next</button>
        </center>
        <script src="../static/js/script.js"></script>
    </main>
    <footer>
        <p>&copy; 2024 Aimee Hair Salon. All rights reserved.</p>
    </footer>
</body>
</html>
