<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A&D Coiffure Du Monde</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1 class="pageheader">A&D coiffure du monde</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/listings">Services</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/appointments">Book Appointment</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            
        </section>
        <section class="features">
            <div class="feature">
                <h3>Contact</h3>
                <table class="table">
                    <tr><th>Phone</th><td>240-421-6230</td></tr>
                    <tr><th>Email</th><td>braidedbyaimee@gmail.com</td></tr>
                </table>
            </div>
            <div class="feature">
                <h3>Hours of Operation</h3>
                <table class="table">
                    <tr><th>Mon - Fri</th><td>9am - 6pm</td></tr>
                    <tr><th>Sun</th><td>9am - 2pm</td></tr>
                </table>                    
            </div>
            <div class="feature">
                <h3>Address</h3>
                <p>572 North Frederic Ave, Suite 106 <br\> Gaithersburg MD</p>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 A&D Coiffure du Monde. All rights reserved.</p>
    </footer>
</body>
</html>
