<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aimee's Hair Braiding Services | Services</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1 class="pageheader">Service Listings</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/listings">Services</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/appointments">Book Appointment</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Service</th>
                        <th>Duration</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Haircut</td>
                        <td>Knotless Braids</td>
                        <td>300 minutes</td>
                        <td>$250</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Knotless French Braids</td>
                        <td>300 minutes</td>
                        <td>$250</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Large Box Braids</td>
                        <td>200 minutes</td>
                        <td>$180</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Layer Cornrows</td>
                        <td>240 minutes</td>
                        <td>$220</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Mohawk Braid and Sew</td>
                        <td>45-60 minutes</td>
                        <td>$180</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Single Crochet Faux Locs</td>
                        <td>200 minutes</td>
                        <td>$180</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Two Strand Twist</td>
                        <td>200 minutes</td>
                        <td>$180</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Feeding Cornrows</td>
                        <td>200 minutes</td>
                        <td>$180</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Single Crochet Faux Locs</td>
                        <td>200 minutes</td>
                        <td>$180</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Bob Box Braid</td>
                        <td>200 minutes</td>
                        <td>$180</td>
                    </tr>
                </tbody>
            </table>
        </div>
                
    </main>
    <footer>
        <p>&copy; 2024 Aimee Hair Salon. All rights reserved.</p>
    </footer>
</body>
</html>
