<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aimee's Hair Braiding Services | Services</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1 class="pageheader">Gallery</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/listings">Services</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/appointments">Book Appointment</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="services">
            <div class="service">
                <img src="/static/images/knotlessbraids.jpg" alt="Hair Style 1">
                <h2>Knotless Braids</h2>
                <p>Duration: 300 minutes</p>
                <p>Price: $250</p>
            </div>
            <div class="service">
                <img src="/static/images/knotlessfrenchbraid.jpg" alt="Hair Style 2">
                <h2>Knotless French Braids</h2>
                <p>Duration: 300 minutes</p>
                <p>Price: $250</p>
            </div>
            <div class="service">
                <img src="/static/images/largeboxbraids.jpg" alt="Hair Style 3">
                <h2>Large Box Braids</h2>
                <p>Duration: 200 minutes</p>
                <p>Price: $180</p>
            </div>
            <div class="service">
                <img src="/static/images/layerscornrows.jpg" alt="Hair Style 4">
                <h2>Layer Cornrows</h2>
                <p>Duration: 240 minutes</p>
                <p>Price: $220</p>
            </div>
            <div class="service">
                <img src="/static/images/mohawkbraidandsew.jpg" alt="Hair Style 5">
                <h2>Mohawk Braid and Sew</h2>
                <p>Duration: 45-60 minutes</p>
                <p>Price: $180</p>
            </div>
            <div class="service">
                <img src="/static/images/singlecrochetfauxlocs.jpg" alt="Hair Style 6">
                <h2>Single Crochet Faux Locs</h2>
                <p>Duration: 200 minutes</p>
                <p>Price: $180</p>
            </div>
            <div class="service">
                <img src="/static/images/twostrandtwist.jpg" alt="Hair Style 6">
                <h2>Two Strand Twist</h2>
                <p>Duration: 200 minutes</p>
                <p>Price: $180</p>
            </div>
            <div class="service">
                <img src="/static/images/feedingcornrows.jpg" alt="Hair Style 6">
                <h2>Feeding Cornrows</h2>
                <p>Duration: 200 minutes</p>
                <p>Price: $180</p>
            </div>
            <div class="service">
                <img src="/static/images/bobboxbraid.jpg" alt="Hair Style 6">
                <h2>Bob Box Braid</h2>
                <p>Duration: 200 minutes</p>
                <p>Price: $180</p>
            </div>
            <div class="service">
                <img src="/static/images/kinkytwist.jpg" alt="Hair Style 6">
                <h2>Single Crochet Faux Locs</h2>
                <p>Duration: 200 minutes</p>
                <p>Price: $180</p>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Aimee Hair Salon. All rights reserved.</p>
    </footer>
</body>
</html>
