<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Promotion Admin</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body class="is-preload">

        <div id="wrapper">
            <div id="main">
                <div class="inner">
                    <!-- Header containing salon name and socials -->
                    <header id="header">
                        <a href="/" class="logo"><strong>A&D</strong> Coiffure du Monde</a>
                        <ul class="icons">

                            <li><a href="https://www.facebook.com/profile.php?id=61559927362692" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                            <li><a href="" class="icon brands fa-whatsapp"><span class="label">WhatsApp</span></a></li>
                            <li><a href="https://www.instagram.com/touchedbyaimee?igsh=MWZmNDN6cHE1cWp4bg==" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                        </ul>
                    </header>

                    <section>
                        <header class="major">
                            <h2>Current Promotions</h2>
                            <p>Manage your promotions and offers easily</p>
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <ul class="flashes">
                                        {% for message in messages %}
                                            <li>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endwith %}
                        </header>
                        
                        

                        <div class="posts">
                            {% for promotion in promotions %}
                            <article>
                                <h3>{{ promotion.name }}</h3>
                                <p>{{ promotion.description }}</p>
                                <p>Start Date: {{ promotion.date_debut }}</p>
                                <p>End Date: {{ promotion.date_fin }}</p>
                                <a class="image"><img src="{{ url_for('static', filename='images/' + promotion.image) }}" alt="{{ promotion.name }}"></a>
                                
                                <form action="{{ url_for('edit_promotion', promotion_id=promotion.id) }}">
                                    <button type="submit" class="btn btn-danger">Edit</button>
                                </form>    
                                
                                <form action="{{ url_for('delete_promotion', promotion_id=promotion.id) }}" method="POST" style="display:inline;">
                                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this promotion ?');">Delete</button>
                                </form>
                                
                            </article>
                            {% endfor %}

                           
                           
                        </div>
                    </section>
                </div>
            </div>

            <div id="sidebar">
                <div class="inner">
    
                        <nav id="menu">
                            <header class="major">
                                <h2>Menu</h2>
                            </header>
                            <ul>
                                <li><a href="/">Back to Site</a></li>
                                <li><a href="{{url_for('admin_guide')}}">Admin guide</a></li>
                                <li><a href="{{url_for('admin_dashboard')}}">Admin Dashboard</a></li>
                                <li><a href="{{url_for('add_admin')}}">Add Admin</a></li>
                                <li><a href="{{url_for('admin_list')}}">Manage Admins</a></li>
                                <li><a href="{{url_for('user_list')}}">Users List</a></li>
                                <li><a href="{{url_for('add_service')}}">Add Services</a></li>
                                <li><a href="{{url_for('add_promotion')}}">Add Promotions</a></li>
                                <li><a href="{{url_for('promotions_admin')}}">Manage Promotions or Offers</a></li>
                                <li><a href="{{url_for('admin_reservation')}}">Manage Reservations</a></li>
                                <li><a href="{{url_for('gallery')}}">Gallery</a></li>
                                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                            
                                
                                
                            </ul>
                        </nav>
                </div>
            </div>
        
        


        <script src="/static/js/main.js"></script>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/browser.min.js"></script>
        <script src="/static/js/breakpoints.min.js"></script>
        <script src="/static/js/util.js"></script>
        <script src="static/js/main.js"></script>
    </body>
</html>