<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aimee's Hair Braiding Services | Services</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body class="is-preload">

        <div id="wrapper">
            <div id="main">
                <div class="inner">
                    <!-- Header containing salon name and socials -->
                    <header id="header">
                        <a href="/" class="logo"><strong>A&D</strong> Coiffure du Monde</a>
                        <ul class="icons">

                            <li><a href="https://www.facebook.com/profile.php?id=61559927362692" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                            <li><a href="" class="icon brands fa-whatsapp"><span class="label">whatsapp</span></a></li>
                            <li><a href="https://www.instagram.com/touchedbyaimee?igsh=MWZmNDN6cHE1cWp4bg==" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                        </ul>
                    </header>

                    <section>
                        <header class="major">
                            <h2>Services</h2>
                        </header>
                        <header class="major">
                            <p>Chemical and Natural Service</p>
                        </header>

                        <div class="posts">
                                    
                            <article>
                                <a class="image"><img src="static/images/silkpress.jpg" alt="" /></a>
                                <h3>Silk press</h3>
                                <p> Smooth and straighten natural hair with a silk press.<br> Price: $130 / Duration: 60 minutes</p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/ponytailupdo.jpg" alt="" /></a>
                                <h3>Ponytail Updo</h3>
                                <p>Price: $140 / Duration: 80 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/flatironrelaxer.jpg" alt="" /></a>
                                <h3>Flat iron relaxer hair</h3>
                                <p>Price: $50 / Duration: 60 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/roller set.jpg" alt="" /></a>
                                <h3>Roller Set</h3>
                                <p>Price: $50 / Duration: 50 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/relaxer.jpg" alt="" /></a>
                                <h3>Relaxer</h3>
                                <p>Deep conditioning. Router set or flat-iron include<br>Price: $140 / Duration: 120 minutes 
                                </p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/permanentwave.jpg" alt="" /></a>
                                <h3>Permanent wave</h3>
                                <p>Price: $170 / Duration: 120 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/kid relaxer.jpg" alt="" /></a>
                                <h3>Kid relaxer</h3>
                                <p>Price: $120 / Duration: 70 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/women cut.jpg" alt="" /></a>
                                <h3>Women cut</h3>
                                <p>Details and may very depending on hair type or lengh<br>Price: +$50 / Duration: 45 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/blowout.jpg" alt="" /></a>
                                <h3>Blowout</h3>
                                <p>Enjoy a wash sleep,blow dryer, and fresh-from the salon confidence <br>Price: $50 / Duration: 50 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/clarifying treatement.jpg" alt="" /></a>
                                <h3>Clarifying treatement</h3>
                                <p>Price: $50 / Duration: 50 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/sclap treatement.jpg" alt="" /></a>
                                <h3>Sclap treatement</h3>
                                <p>Exfoliate your sclap, refresh your follucules and release natural oils to nourish your hair<br>Price: $60 / Duration: 60 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/protein treatement.jpg" alt="" /></a>
                                <h3>Protein treatement</h3>
                                <p>straighten, repair and restore damaged hair with a protein treatement<br>Price: $60 / Duration: 60 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/keratin treatement.jpg" alt="" /></a>
                                <h3>Keratin treatement</h3>
                                <p>Add gloss and shine to hair with a keratin treatement removed 40%-60% of the natural curls<br>Price: $350 / Duration: 180 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/bridal updo.jpg" alt="" /></a>
                                <h3>Bridal Updo</h3>
                                <p>Price: $250 / Duration: 140 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/single process color.jpg" alt="" /></a>
                                <h3>Single process color</h3>
                                <p>Price: $150 / Duration: 120 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/double process color.jpg" alt="" /></a>
                                <h3>Double process color</h3>
                                <p>Price: $150 / Duration: 120 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/partial highlights.jpg" alt="" /></a>
                                <h3>Partial highlights</h3>
                                <p>Price: $120 / Duration: 70 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/ombre balayage.jpg" alt="" /></a>
                                <h3>Ombre(balayage)</h3>
                                <p>Price: $150 / Duration: 70 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/full highlights.jpg" alt="" /></a>
                                <h3>Full highlights</h3>
                                <p>Price: $200 / Duration: 120 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/full foil righlights.jpg" alt="" /></a>
                                <h3>Full foil highlights</h3>
                                <p>Price: $220 / Duration: 120 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="static/images/comb coils.jpg" alt="" /></a>
                                <h3>Comb coils (starter locs)</h3>
                                <p>Price: $140 / Duration: 60 minutes</p>
                                <p></p>	
                            </article>
                            <article>
                                <a class="image"><img src="" alt="" /></a>
                                <h3>Partial foil highlights</h3>
                                <p>Price: $120 / Duration: 70 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="" alt="" /></a>
                                <h3>Takedown</h3>
                                <p>Price: $60 / Duration: 60 minutes</p>
                                <p></p>	
                            </article>
                            <article>
                                <a class="image"><img src="" alt="" /></a>
                                <h3>Weave takedown</h3>
                                <p>takedown only<br>Price: $60 / Duration: 60 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="" alt="" /></a>
                                <h3>Loc</h3>
                                <p>Price: $120 / Duration: 70 minutes</p>
                                <p></p>
                            </article>
                            <article>
                                <a class="image"><img src="" alt="" /></a>
                                <h3>Leek Ponytail</h3>
                                <p>Price: $150 / Duration: 90 minutes</p>
                                <p></p>
                            </article>
                            
                        </div>
                    </section>
                </div>
            </div>

            <div id="sidebar">
                <div class="inner">
    
                        <nav id="menu">
                            <header class="major">
                                <h2>Menu</h2>
                            </header>
                            <ul>
                                <li ><a href="/" >Home</a></li>
                                <li><a href="/appointments">Book Appoinement</a></li>
                                <li>
                                    <span class="opener">Services</span>
                                    <ul>
                                        <li><a href="/braidsgallery">Braids</a></li>
                                        <li><a href="/treatmentgallery">Chemical and Natural Service</a></li>
                                        <li><a href="/extensionsgallery">Extensions</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Promotions or Offers</a></li>
                                <li><a href="/contactus">Contact Us:</a></li>
                                <li class="uid"><a href="/about">About Us</a></li>
                                
                            </ul>
                        </nav>
                </div>
            </div>

        </div>
        
        <footer id="footer" class="footer">
            <section >
                <header class="major majorr">
                    <h2>Contact Us</h2>
                </header>
                <ul class="contact">
                    <li class="icon solid fa-envelope"><a href="mailto:braidedbyaimee@gmail.com">braidedbyaimee@gmail.com</a></li>
                    <li class="icon solid fa-phone"><a href="">+1 (240) 421-6230</a></li>
                    <li class="icon brands fa-facebook-f"><a href="https://www.facebook.com/profile.php?id=61559927362692">A&D Coiffure du monde</a></li>
                    <li class="icon brands fa-whatsapp"><a href="https://wa.me/(+1)2404216230">+1 (240) 421-6230</a></li>
                    <li class="icon brands fa-instagram"><a href="https://www.instagram.com/touchedbyaimee?igsh=MWZmNDN6cHE1cWp4bg==">touched by aimee</a></li>
                    <li class="icon solid fa-home">572 N Frederick Ave, Suite 106 Gaithersburg MD20877 Maryland, USA</li>
                </ul>
            </section>
            <p>© 2024 A&D Coiffure. All rights reserved.</p>
        </footer>


        <script src="/static/js/main.js"></script>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/browser.min.js"></script>
        <script src="/static/js/breakpoints.min.js"></script>
        <script src="/static/js/util.js"></script>
        <script src="static/js/main.js"></script>

        <script src="../static/js/script.js"></script>
    </body>
</html>
